<div class="container" class="crsl">
    <div id="carouselExampleCaptions" class="carousel slide"  data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="1000">
            <img src="../../../assets/images/carousel3.webp" class="d-block w-100" alt="..." height="500" width="150">
            <div class="carousel-caption d-none d-md-block">
              <h5></h5>
              <p></p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../../../assets/images/carousel2.webp" class="d-block w-100" alt="..." height="500" width="150">
            <div class="carousel-caption d-none d-md-block">
              <h5></h5>
              <p></p>
            </div>
          </div>
          <div class="carousel-item" data-bs-interval="1000">
            <img src="../../../assets/images/carousel.webp" class="d-block w-100" alt="..." height="500" width="150">
            <div class="carousel-caption d-none d-md-block">
              <h5></h5>
              <p></p>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>    
</div>

<div class="row" style="font-family: 'Times New Roman', Times, serif;color: #3a2626;text-align: center;margin-bottom: 30px;margin-top: -130px;">
  <h1 style="font-size: 4vw;margin-bottom: 100px;">Premium Watches from Just Watches</h1>
</div>

<div class="row">
  <div class="col" style="margin-left: 120px;text-align: justify;font-size:x-large;font-family: 'Times New Roman', Times, serif;color: #3a2626;">
      <p>Just Watches has become synonymous with prestige and luxury and has since grown to be the largest independent, family owned watch store in the country.

        Whether you shop online or at one of our stores, rest assured in knowing that we are Official Authorized Dealers for all the brands that we offer and every watch comes with the Manufacturer warranty supported with all documents, thereby making the watch 100% Authentic.
        
        Every order is fulfilled directly from one of our 75 stores across India. You can always count on us for free 1-2 day delivery,hassle-free returns, great prices, and awesome, extra speedy customer service.
        
        If you are in need of any assistance post your purchase, you can walk in to one of our stores and our helpful staff is always available to answer any questions you may have or help in any way that is required. We are at your service!</p>
  </div>
  
  <div class="col" style="margin-left: 80px;margin-top: 20px;">
      <img src="assets\images\threewatch.webp" alt="" height="440" width="400">
  </div>
</div>

<br><br><br>




  <div class="row">
    <div class="col m-4">
      <div class="card" style="width: 18rem;">
        <img src="assets\images\casiocard.jpg" alt="">
      </div>
    </div>
<div class="col m-4" >
  <div class="card" style="width: 18rem;">
    
    <img src="assets\images\WEBSITE_BANNER_FINAL-08card.jpg" alt="">
      
  </div>
</div>
<div class="col m-4">
  <div class="card" style="width: 18rem;">
    
    <img src="assets\images\5._Fossilcard.jpg" alt="">
  </div>
</div>
<div class="col m-4">
  <div class="card" style="width: 18rem;">
    <img src="assets\images\4._Emporio_Armanicard.jpg" alt="">
  </div>
</div>
<div>
  <br><br>
</div>



<div>
  <br>
</div>

<div class="row">
  <div class="col m-4">
    <img src="assets\images\hand1.jpg" alt="" height="400" width="400" style="margin: 50px;">
  </div>
  <div class="col mt-5" style="font-size: large; font-family: 'Times New Roman', Times, serif; color: #3a2626;text-align: justify;" >
    <h2 style="margin-top: 20px; font-size:3vw;">Casual Watches</h2>
    <p style="margin-top: 10px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, facere provident! Optio pariatur impedit, magni nisi reprehenderit culpa inventore cum dolorum eaque quod voluptatem quasi, doloremque cupiditate doloribus a veniam?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam optio nisi sequi placeat obcaecati consequatur. Eos, reiciendis sint? Aperiam, in. Eius cupiditate fugiat reiciendis alias, at architecto. Nihil, obcaecati quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum expedita nisi mollitia dicta saepe neque distinctio fugit perspiciatis in quis sit, quisquam quia soluta, debitis, corporis ad similique cumque? Quod!</p>
  </div>
  <div class="col">
  </div>
</div>

<br><br>

<div class="row">
    <div class="col"></div>
    <div class="col" style="font-family: 'Times New Roman', Times, serif;text-align: justify; margin-top: 20px;color: #3a2626;margin-right: 10px;">
      <h2 style="margin-top: 20px; font-size:3vw;">Formal Watches</h2>
      <p style="margin-top: 10px;font-size: larger;" >Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, facere provident! Optio pariatur impedit, magni nisi reprehenderit culpa inventore cum dolorum eaque quod voluptatem quasi, doloremque cupiditate doloribus a veniam?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam optio nisi sequi placeat obcaecati consequatur. Eos, reiciendis sint? Aperiam, in. Eius cupiditate fugiat reiciendis alias, at architecto. Nihil, obcaecati quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum expedita nisi mollitia dicta saepe neque distinctio fugit perspiciatis in quis sit, quisquam quia soluta, debitis, corporis ad similique cumque? Quod!</p>
    </div>
    <div class="col" >
      <img src="assets\images\hand2.jpg" alt="" height="400" width="400" style="margin: 50px;">
    </div>
</div>

<br><br>


<div class="row">
  <div class="col m-4">
    <img src="assets\images\hand4.jpg" alt="" height="400" width="400" style="margin: 50px;">
  </div>
  <div class="col mt-5" style="font-size: large; font-family: 'Times New Roman', Times, serif; color: #3a2626;text-align: justify;" >
    <h2 style="margin-top: 20px; font-size:3vw;">Sports Watches</h2>
    <p style="margin-top: 10px;">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Corrupti, facere provident! Optio pariatur impedit, magni nisi reprehenderit culpa inventore cum dolorum eaque quod voluptatem quasi, doloremque cupiditate doloribus a veniam?Lorem ipsum dolor sit, amet consectetur adipisicing elit. Totam optio nisi sequi placeat obcaecati consequatur. Eos, reiciendis sint? Aperiam, in. Eius cupiditate fugiat reiciendis alias, at architecto. Nihil, obcaecati quidem. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum expedita nisi mollitia dicta saepe neque distinctio fugit perspiciatis in quis sit, quisquam quia soluta, debitis, corporis ad similique cumque? Quod!</p>
  </div>
  <div class="col">
  </div>
</div>








<div>
  <br><br>
</div>

  
