<div class="row">
  <img src="assets\images\corners-homepage-banner-xs_datejust-36_det_rolesor-32199_isov2_300_rvb.jpg" alt="">
</div>

<div>
  <br><br>
</div>

<div class="row" style="font-family: 'Times New Roman', Times, serif;text-align: center;">
  <h1 style="font-size:3vw;color: #5a3838;">Our Premium Brands</h1>
</div>

<div>
  <br><br>
</div>




<div class="container text-center" style="background-color: rgb(237, 234, 234);padding-bottom:50px ;padding-left: 30px;padding-right: 30px;padding-top: 20px;">
    <div class="row">
      <div class="col mb-2 mt-5" *ngFor="let item of brands">
        <div class="card" style="width: 18rem;">
            <img src="assets\images\{{item.img}}" class="card-img-top" alt="..." height="300" width="200">
            <div class="card-body">
              <a (click)="gotohere(item.id)" class="btn btn-dark btn-lg btn-block"  style="background-color: #5a3838;">See more</a>
            </div>
          </div>
      </div>
    </div>
  </div>
  <div>
    <br><br>
  </div>